.container section.filters
{
	background-color: #fff;
	height: 70px;
	width:  100%;
	border: 1px #dddddd solid;
	border-radius: 4px;
}

.container section.filters > button
{
	font-size: 18px;
	background-color: #ff5a5f;
	color: #fff;

	height: 48px;
	width: 20%;
	border: 0;
	border-radius: 4px;

	transition: 0.3s;
	cursor: pointer;

	float: right;
	margin-right: 30px;
	margin-top: 10px;
}

.container section.filters > button:hover
{
	opacity: 0.9;
}

.locations
{
	height: 100%;
	width: 25%;
	border-right: #ddd 1px solid;
	float: left;
	padding-left: 40px;
}

.amenities
{
	height: 100%;
	width: 25%;
	float: left;
	padding-left: 40px;
}

.locations h3, .amenities h3
{
	font-weight: 600;
	margin: 16px 0 5px;
}

.locations h4, .amenities h4
{
	font-weight: 400;
	font-size: 14px;
	margin: 0;
}
